<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>Sign</title>
	    <style>
	        div{
	        position : absolute;
	        right : 10px;
	        top : 5px
	        }
	    </style>
	</head>
	<body>
	    <div>
	        <button type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
	    </div>

	    <H2>Create Daily Progress Report</H2>
	    <form action="/post_create/" method="post">
	        {% csrf_token %}
	        Work Assigned :
	        <input type="text" name="work" required><br><br>
	        Progress:
	        <textarea rows="5" cols="40" name="progress" required></textarea>
	        <br><br>
			Document Uplaod:
			<input type="file" name="files[]" id="files">
	    	<input type="hidden" name="url" id="url">
			<button type="button" onclick="uploadimage()">Upload</button><br><br>
	        <input type="submit" value="Submit">
	    </form>
	</body>
	<script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
	<script>
  		// Initialize Firebase
  		// TODO: Replace with your project's customized code snippet
  			var config = {
    			apiKey: "AIzaSyBFGDWiQz7cDvw-hFdYidFpWWeMWqPF078",
    			authDomain: "researchclassification.firebaseapp.com",
    			databaseURL: "https://researchclassification.firebaseio.com",
			    projectId: "researchclassification",
    			storageBucket: "researchclassification.appspot.com",
    			messagingSenderId: "383247879128",
  			};

	  	firebase.initializeApp(config);

		// Get a reference to the storage service, which is used to create references in your storage bucket
		function uploadimage(){

	  		// Upload file and metadata to the object 'images/mountains.jpg'
	  		var storageRef = firebase.storage().ref();
	  		var file = document.getElementById("files").files[0];
			var uploadTask = storageRef.child('docs/' + file.name).put(file);

			// Listen for state changes, errors, and completion of the upload.
			uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
			  function(snapshot) {
				// Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
				var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
				console.log('Upload is ' + progress + '% done');
				switch (snapshot.state) {
				  case firebase.storage.TaskState.PAUSED: // or 'paused'
					console.log('Upload is paused');
					break;
				  case firebase.storage.TaskState.RUNNING: // or 'running'
					console.log('Upload is running');
					break;
				}
			  }, function(error) {

			  // A full list of error codes is available at
			  // https://firebase.google.com/docs/storage/web/handle-errors
			  switch (error.code) {
				case 'storage/unauthorized':
				  // User doesn't have permission to access the object
				  break;

				case 'storage/canceled':
				  // User canceled the upload
				  break;

				case 'storage/unknown':
				  // Unknown error occurred, inspect error.serverResponse
				  break;
			  }
			}, function() {
			  // Upload completed successfully, now we can get the download URL
			  uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
			  	document.getElementById("url").value = downloadURL;
				console.log('File available at', downloadURL);
				location.href='{% url 'post_create' %}'
			  });
			});
		};


	</script>
</html>